@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Saira+Condensed:wght@100;200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1,h2,h3{
    font-family: 'Julius Sans One', sans-serif;
}

body{
    font-family: 'Saira Condensed', sans-serif;
    background-color: #1E1E1E;
    color: #fff;
}

.scrollbar::-webkit-scrollbar{
    width: 4px;
}
.scrollbar::-webkit-scrollbar-track {
    background: #393939;
}

.scrollbar::-webkit-scrollbar-thumb
   {
    background: rgba(255,255,255,0.3);
  }
  
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #393939;
  }